
body{
    width: 100%;
    font-size: 1em;
}
.header1 {
    background-color: orange;
    color: black;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;

}


.header1 img{
    float: left;
    width: 90px;
    height: 90px;

}
.nav{
    
}        
